.footer-container {
  grid-area: ft;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: rgba(99, 95, 95, 0.1);
}

.footer-info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
}

.footer-info-right {
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: firebrick;
}
