.aside-container {
  grid-area: sb;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  /* border: blue 2px solid;*/
}

.recipie-img {
  background-image: url(../images/recipie.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 160px;
  /* border: red 2px solid; */
}

.aside-container h3 {
  font-size: 16px;
  font-weight: 900px;
  padding: 10px 5px;
  color: white;
  background-color: rgb(58, 43, 43);
  text-align: center;
}
.aside-container h3:hover {
  color: white;
  background-color: firebrick;
}
.most-rated-blogs,
.most-liked-blogs,
.most-commented-blogs {
  font-size: 16px;
  font-weight: 900px;
  padding: 10px 10px;
  text-align: center;
  color: white;
  background-color: firebrick;
  margin-top: 10px;
  text-decoration: none;
}
.most-rated-blogs:hover,
.most-liked-blogs:hover,
.most-commented-blogs:hover {
  color: black;
  font: 40px italic;
}
