.todays-blog-container {
  width: 65%;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.todays-imgs-container {
  width: 35%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.img-meal-card {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
  text-align: center;
}
.img-meal-card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.todays-links {
  text-decoration: none;
  color: black;
  font: italic 700 18px "segoe ui light";
}

.todays-links:hover {
  color: firebrick;
}
