.intro-blog-container {
  grid-area: mb;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(99, 95, 95, 0.1);
  padding: 30px 20px;
  border: red 2px solid;
}
.todays-blog-container {
  width: 600px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: yellow 2px solid;
}
.todays-imgs-container {
  width: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: green 2px solid;
}
.img-meal-card {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
  text-align: center;
}
.img-meal-card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.todays-links {
  text-decoration: none;
  color: black;
  font: italic 700 18px "segoe ui light";
}

.todays-links:hover {
  color: firebrick;
}
